[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-multipart = "*"
pydantic = "*"
boto3 = "*"
testcontainers = "*"
testcontainers-localstack = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
