[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.116.1"
uvicorn = "==0.34.2"
structlog = "==24.1.0"
asgi-correlation-id = "==4.3.4"
python-dotenv = "==1.2.1"
boto3 = "==1.40.3"
flask = "==3.1.1"
pytest-mock = "==3.14.0"
responses = "*"
aiohttp = "*"
msal = "==1.32.3"
cachetools = "==6.1.0"
sentry-sdk = "==2.30.0"
pydantic = "==2.11.7"
python-multipart = "==0.0.20"
clamd = "==1.0.2"
exceptiongroup = "==1.2.2"
typing_extensions = "==4.12.2"
casbin = "==1.43.0"
fastapi-authz = "==1.0.0"
h11 = ">=0.16.0"
requests = "==2.32.4"
python-jose = {extras = ["cryptography"], version = "==3.5.0"}
python-dateutil = "*"

[dev-packages]
flake8 = "==7.3.0"
pytest = "==8.3.5"
httpx = "==0.28.1"
pytest-asyncio = "==0.23.8"

[requires]
python_version = "3.13"
