apiVersion: apps/v1
kind: Deployment
metadata:
  name: laa-sds-deployment
  labels:
    app: laa-sds-api
spec:
  replicas: 3
  selector:
    matchLabels:
      app: laa-sds-api
  template:
    metadata:
      labels:
        app: laa-sds-api
    spec:
      serviceAccountName: laa-sds-serviceaccount-${ENVIRONMENT}
      containers:
        - name: laa-sds-container
          image: ${ECR_URL}:${IMAGE_TAG}
          ports:
            - containerPort: 8000
          env:
            - name: AUDIT_TABLE
              valueFrom:
                secretKeyRef:
                  name: laa-sds-event-audit-dynamodb-output
                  key: table_name
            - name: TABLE_ARN
              valueFrom:
                secretKeyRef:
                  name: laa-sds-event-audit-dynamodb-output
                  key: table_arn
            - name: ENV
              value: "cloud"
            - name: AWS_REGION
              value: "eu-west-2"
            - name: TENANT_ID
              value: ${TENANT_ID}
            - name: AUDIENCE
              value: ${AUDIENCE}
            - name: SENTRY_DSN
              value: ${SENTRY_DSN}
            - name: CLAMD_HOST
              value: "laa-sds-clamav-service"
            - name: CASBIN_POLICY
              value: ${CASBIN_POLICY}
            - name: CASBIN_MODEL
              value: ${CASBIN_MODEL}
