name: Linting and Unit Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Set up Python 3.13
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: "3.13"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pipenv
        pipenv run pipenv install

    - name: Install test dependencies
      run: |
        pipenv run pipenv install --dev

    - name: Lint with flake8
      run: |
        pipenv run python -m flake8 . -v

    - name: Unit test with pytest
      run: |
        pipenv run pytest -v -m "not e2e"
